<nav class="navbar navbar-dark ">
  <a class="navbar-brand" style="position: absolute; padding-bottom: 60px;" href="#"> <img src="https://api.proveitcatalysts.com/cukzz/user-in/assets/images/logo.png" width="100" height="60" class="d-inline-block" alt=""></a>
  <form class="form-inline my-1">
    <div class="md-form form-sm my-0" style="padding-top: 20px;"  >
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
        [(ngModel)]="searchWord" (keyup)="search()" [ngModelOptions]="{standalone: true}">
      <button class="btn btn-outline my-2 my-sm-0" style="background-color:#F67F10;"  type="submit">Search</button>
    </div>
  </form>
</nav>
<hr>
<div class="container" style=" display: grid; height: 100%;">
  <div><button class="btn btn-light" (click)= "btnClick()"> Click Here</button>to know how to register as cook </div>
  <div *ngIf="count === questions.length"> No result found </div>
  <div id="accordion" *ngIf="questions.length > 0 && count !== questions.length">
    <div class="card" *ngFor="let q of questions;">
      <div [hidden]="!q.show">
        <div class="card-header" style="width: 100%;" id="q_{{q.id}}" >
          <h5 class="mb-0" >
            <span class="glyphicon glyphicon-plus"  *ngIf="id !== q.id" data-toggle="collapse" attr.data-target="#{{q.id}}"
            aria-expanded="true" attr.aria-controls="{{q.id}}" (click)="toggleSign(q.id)"></span>
            <span class="glyphicon glyphicon-minus" *ngIf="id === q.id" data-toggle="collapse" attr.data-target="#{{q.id}}"
            aria-expanded="true" attr.aria-controls="{{q.id}}" (click)="toggleSign(q.id)"></span>
            <a class="btn btn-link" data-toggle="collapse" attr.data-target="#{{q.id}}"
              aria-expanded="true" attr.aria-controls="{{q.id}}" (click)="toggleSign(q.id)">

              {{q.Question}}
            </a>
          </h5>
        </div>
        <div id="{{q.id}}" class="collapse" attr.aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            {{q.Answer}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
