<mat-toolbar >
  <span>
    <a routerLink="/">MyPosts</a>
  </span>
  <span class="spacer"></span>
  <ul class="nav sticky-top justify-content-end">

    <li class="nav-item">
      <a mat-button routerLink="/" routerLinkActive="mat-secondary">Home</a>
    </li>
    <li class="nav-item">
      <a mat-button routerLink="/dashboard" routerLinkActive="mat-primary">Dashboard</a>
    </li>
    <li class="nav-item">
      <a mat-button routerLink="/create" routerLinkActive="mat-accent">New Post</a>
    </li>


  </ul>
</mat-toolbar>
