<mat-toolbar >
  <span>
    <a routerLink="/">MyPosts</a>
  </span>
  <span class="spacer"></span>
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a mat-button routerLink="/" routerLinkActive="mat-secondary">Home</a>
    </li>
    <li class="nav-item">
      <a mat-button routerLink="/blog" routerLinkActive="mat-primary">blog</a>
    </li>
    <li class="nav-item">
      <a mat-button routerLink="/create" routerLinkActive="mat-accent">New Post</a>
    </li>
    <li class="nav-item">
      <a mat-button routerLink="/about" routerLinkActive="mat-primary">about</a>
    </li>



  </ul>





</mat-toolbar>
