:host {
  display: block;
  margin-top: 1rem;
}

.info-text {
  text-align: center;
}

.post-image {
  width: 100%;
}

.post-image img {

  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

body {
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  padding: 15px;
  background-color: #f7f7f7;
}

div.container {
  width: 100%;
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "header header header"
    "content content sidebar"
    "footer footer footer"
}

/* nav.menu {
  width: 98%;
}
 */

nav.menu ul {
  display: flex;
}

nav.menu ul > li:last-child {
  margin-left: auto;
}

header {
  grid-area: header;
}


aside {
  grid-area: sidebar;
  float: left;
  margin-left: 15px;
  margin-bottom: 15px;
  min-width: 15%;
}

aside h2 {
  text-align: center;
}


figure {
  margin: 0px;
  color:black;
  min-width: 50%;
  height: 100px;
}

@media screen and (max-width: 800px) {
  main, aside {
    width: 100%;
    padding: 0;
  }
}


