<div class="container">
  <main>

    <article class="card" *ngIf="posts.length > 0" >
      <div *ngFor="let post of posts" >

          <h2>Post tile will like this </h2>
          <h5>Jul 15, 2018</h5>
          <figure> {{ post.title }}</figure>
          <div class="post-image">
            <img [src]="post.imagePath" [alt]="post.title">
          </div>
          <p>{{ post.content }}</p>

      </div >
    </article>
    <article class="card" *ngIf="posts.length > 0 "  >
      <div *ngFor="let post of posts" >
      <h2>Progressively  Post</h2>
      <h5>Jul 15, 2018</h5>
      <figure> {{ post.title }}</figure>
      <div class="post-image">
        <img [src]="post.imagePath" [alt]="post.title">
      </div>
      <p>{{ post.content }}</p>
    </div >
    </article>
  </main>
</div>
